@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Source+Sans+Pro:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Source-Sans-Pro, sans-serif;
    font-weight: 300;    
    color: whitesmoke;
    background-color: #08140e;
}

/* Headings and logo */

h1, h2, h3 {
    font-family: Inter, sans-serif;
    font-weight:500;
    color: whitesmoke;
    text-transform:uppercase;
}

#logo {
    float: left;
    font-size: 300%;
    margin-left: 30px;
}

#menu {
    font-size: 110%;
    
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
    
}


#menu a {
        text-decoration: none;
        color: whitesmoke;
}

#menu a:hover {    
    text-decoration: underline;
}


/* hero image */

#hero-outer {
    clear:both;

    position:relative
}

#cover-text, #cover-text h2, h3 {
    color: whitesmoke;
}

#hero-image {
    height: 900px;
    width: 100%;
    background: url(../images/hero-image-©Phil-Morley-30.jpg) no-repeat center center;
    border: 5px solid #08140e;
}

#cover-text {
    font-size: 140%;
    font-family: Source-Sans-Pro;
    text-transform: uppercase;

    width: 300px;
    height: 150px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(71, 125, 54, 0.6);

    top: 40px;
    left: 100px;

    position: absolute;
}

/* Further Reading section */

#further-reading {
    height: 900px;
    
}

/* upper div */

.upper {
    padding: 10px;
}

.text {
    padding: 30px;
}

#upper-left {
    float:left;
    width: 50%;
    overflow: hidden;
    height: 300px;
    background: url(../images/Sutton-hoo-helmet-europe-british-museum.jpg) no-repeat center center;
    background-color: #08140e;
    padding-top: 30px;
    

}

#upper-right {
    overflow: hidden;
    width: 50%;
    background-color: #08140e;
    float: right;
    height: 300px;
    color: whitesmoke;
    padding-top: 30px;
    
    
}

/* middle div */

.middle {
    padding: 10px;
}

#middle-left {
    float:left;
    width: 50%;
    overflow: hidden;
    height: 300px;
    color: whitesmoke;
    background-color: #08140e;  
    padding-top: 30px;
    clear: right;
}

#middle-right {
    overflow: hidden;
    width: 50%;    
    float: right;
    height: 300px;
    background: url(../images/ship-excavation.jpg) no-repeat center center;
    background-color: #08140e;
    padding-top: 30px;
}

/* bottom div */

.bottom {
    padding: 10px;
}

#bottom-left {
    float:left;
    width: 50%;
    overflow: hidden;
    height: 300px;
    background: url(../images/392px-gold-belt-buckle-sutton-hoo-british-museum.jpg) no-repeat center center;
    background-color: #08140e;
    padding-top: 30px;

}

#bottom-right {
    overflow: hidden;
    width: 50%;
    background-color: #08140e;
    float: right;
    height: 300px;
    color: whitesmoke;
    padding-top: 30px;

}

/* Further Reading Section*/

    .further-reading {
        
        color: whitesmoke;
        line-height: 75px;
    }

    .further-reading i, a {
        font-size: 125%;
        padding: 1%;
        margin: 1%;
        color: whitesmoke;
    }

    .further-reading > p {
        font-size: 100%;
    }

    /* Google Map */

    .map {
        padding: 10px;
        float: left;
        width: 50%;
        overflow:hidden;
    }
       
    /* Getting There */



    .visit {
        display: inline-block;
    }

    .getting-there {
        overflow: hidden;
        float: right;
        color: whitesmoke;
        padding-top: 30px;
        height: 500px;
    }

    .getting-there > h2, h3, p {
        padding-left: 50px;
    }

    /* footer */

    footer {
        height: 150px;
    }

    footer > ul {
        text-align: center;
    }

    .more-info li {
        display: inline;
    }

    .more-info i {
        font-size: 200%;
        padding: 2%;
        margin: 1%;
        color: whitesmoke;
    }
